.showcase-container{
    height: 100vh;
    padding: 2rem;
    background-image: url('../../../assets/books-images/book3.jpg');
    background-color: rgba(0,0,0,1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0,5);
    position: absolute;
    top: 0;
}

.showcase-content h1, .showcase-content p{
    width: fit-content;
    z-index: 1;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.showcase-content span{
    font-family: Chivo Mono;
}
 